.navbar img {
    width: 100px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightskyblue;
}

.navbar a {
    padding-right: 50px;
    text-decoration: none;
    color: rgb(4, 4, 66);
}

.centre {
    display: flex;
    justify-content: center;
}
.centre img {
   
    width: 300px;

}

.centre-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}



