.navbar img {
    width: 100px;
    padding-left: 50px;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightskyblue;
    border-radius: 30px;
}

.navbar a {
    padding-right: 50px;
    text-decoration: none;
    color: rgb(4, 4, 66);
}

.centre {
    display: flex;
    justify-content: center;
}
.centre img {
   
    width: 400px;

}

.centre-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    flex-direction: row;
    border-radius: 30px;
}

#footer a {
    padding: 15px;
    text-decoration: none;
}

.greece {
    display: flex;
    justify-content: center;
    
}

.greece img {

    width: 400px;

}

.japan {
    display: flex;
    justify-content: center;
}

.japan img {

    width: 400px;
}

.centre-image {
    display: flex;
    justify-content: center;


}

.centre-image img {
    width: 400px;

}

.three-images {
    display: flex;
    justify-content: center;
}

.three-images img {
    width: 400px;
    padding: 5px;
}